/**
 * Stylus and plugins
 */

@import 'nib'
global-reset()

*, *:before, *:after
  box-sizing border-box

/**
 * Setup
 */
@import 'setup/vars'
@import 'setup/colours'
@import 'setup/media'
@import 'setup/fonts'

/**
 * Common
 */
@import 'common/mixins'
@import 'common/type'
@import 'common/buttons'

/**
 * Motion
 */
@import 'motion/animation'
@import 'motion/transitions'

/**
 * Content
 */
@import 'content/main'
@import 'content/layout'

/**
 * Components
 */
@import 'components/hero'
@import 'components/navigation'
@import 'components/logos'
@import 'components/footer'

/**
 * Pages
 */
@import 'pages/work'
@import 'pages/general'