.two-columns
  ul.team-column.left
    li
      .title
        span.name Matthew Shaw
        span.badge Director
      p.about Matt is co-founder of ScanLAB Projects. 
        span.desktop His background is in architecture, digital fabrication and speculation about digital cities of the future. Over the last 5 years he’s been turning the relentless, machinic eye of the 3D scanner on anything and everything - from giant mirrored sculptures, Arctic ice floes, Roman Sewers and graceful dancers. He is fascinated by the creative and critical role of the pointcloud, and is a big believer in experimentation and precision in equal measure!
    li.mobile
      .title
        span.name William Trossell
        span.badge Director
      p.about Will is co-founder of ScanLAB Projects. 
        span.desktop He loves building new and extraordinary ways to expand our understanding of the material world. An architect in training he graduated from the Bartlett but has been somewhat sidetracked as a creative technologist. With a keen interest in how the digital and it’s augmentation might impact our cultural heritage Will has working closely with Museums and World Heritage Sites around the world.
    li.desktop
      .title
        span.name Soma Sato
        span.badge Photographer
      p.about Soma is the longest serving member of the ScanLAB team. 
        span.desktop He has a vast body of photographic and architectural experience, including study at the Bartlett and years travelling the world with some of Japan’s leading photographers and artists. He brings this knowledge to our practice, ensuring our data is photoreal and perfectly coloured. Since joining the team his skills have lead to the huge success of our Horizontal Humans project at The Photographers' Gallery, our unique full colour capture of The Last Supper with Factum Arte, and our BBC ONE series Invisible Italy.
    li
      .title
        span.name Jean-Christophe Nicolas
        span.badge Web Developer
      p.about Jean is a web developer with a keen interest in online 3D storytelling. 
        span.desktop Since joining ScanLAB he’s taken the weird and wonderful pointcloud world into wonderful new spaces online. He’s the force behind our digitisation of the Sir John Soane Museum and is currently bringing the lost tunnels of London’s Mail Rail system to life a series of new installations coming soon!
    li
      .title
        span.name Egmontas Geras
        span.badge Architect
      p.about Egmontas joined ScanLAB in 2016 following his fascination with strange digital environments and film. 
        span.desktop He is a graduate of the BSc in Architecture at the Bartlett, UCL. During his time at ScanLAB he has mastered the art of pointcloud visualisation, working on various projects including our upcoming BBC ONE series Invisible Italy, our ongoing Post-lenticular Landscapes project for LACMA and our etched glass installation ‘infractus’ at the Venice Biennale.
  ul.team-column.right
    li.desktop
      .title
        span.name William Trossell
        span.badge Director
      p.about Will is co-founder of ScanLAB Projects. 
        span.desktop He loves building new and extraordinary ways to expand our understanding of the material world. An architect in training he graduated from the Bartlett but has been somewhat sidetracked as a creative technologist. With a keen interest in how the digital and it’s augmentation might impact our cultural heritage Will has working closely with Museums and World Heritage Sites around the world.
    li.mobile
      .title
        span.name Soma Sato
        span.badge Photographer
      p.about Soma is the longest serving member of the ScanLAB team. 
        span.desktop He has a vast body of photographic and architectural experience, including study at the Bartlett and years travelling the world with some of Japan’s leading photographers and artists. He brings this knowledge to our practice, ensuring our data is photoreal and perfectly coloured. Since joining the team his skills have lead to the huge success of our Horizontal Humans project at The Photographers' Gallery, our unique full colour capture of The Last Supper with Factum Arte, and our BBC ONE series Invisible Italy.
    li
      .title
        span.name Reuben Carter
        span.badge Software Engineer
      p.about Reuben is a software and electronic engineer with an incredible understanding of interactive, spatial environments. 
        span.desktop He completed his MEng in Electrical Engineering at Southampton University in 2014. Since joining ScanLAB in 2015 his R&D has enabled pioneering VR projects with the BBC and led to exciting, new pointcloud visualisation and interaction workflows. His diverse digital skill-set is currently being put to task on series of AR + VR environments that allow us to wander through pointlcouds in groundbreaking new ways.
    li
      .title
        span.name Luca Veronese
        span.badge 3D Artist
      p.about Luca is lead 3D Artist at ScanLAB. 
        span.desktop Having previously worked in the jewelry and interiors industries he joined ScanLAB in 2015 and has thrived learning new 3D modelling, texturing, animating, rendering and compositing techniques to create visual elements that interact with and refine our pointcloud animations. Luca has been digitising a series of cast’s from the Sir John Soane's Museum and instrumental in the success of Pompeii | New Secrets Revealed.        
    li
      .title
        span.name Past Members
      p.about Over the years we’ve had the pleasure of counting Julia Schütz, Sammy Lee, Fiona Zisch, Berni Devilat, Thomas Parker, Tom Svilans and Thomas Pearce as fantastic team members.