title= bartlettdigitalexhibition.meta.title
meta(name="description" content= bartlettdigitalexhibition.meta.description)
if bartlettdigitalexhibition.script.use
  script(src= bartlettdigitalexhibition.script.src)
