/**
 * Parent Containers for wrappers and top level layout control
 */
flexi-width(max = _body-width)
  display flex
  justify-content center
  .content
    max-width max
    width 100%


fieldset
  border-top 1px solid $ghostlight
  legend
    text-align center
    h4
      padding 0 _pad

section
  margin-top _gap

nav[role="desktop"] + section
  margin-top 0

.block-step--foot
  width 100%
  height _end 


 /**
  * Sections
  */

section
  .layout
    .content
      header
        margin-top _block
      header + .body
        margin-top _block

section[role="text"], section[role="text-wide"]
  .layout
    flexi-width(_body-width)
    +notebook()
      .content
        padding 0 _pad2
    

section[role="text-wide"]
  .layout
    flexi-width(_view-width)
    +desktop()
      .content
        padding 0 _pad2


section[role="images"]
  .layout
    flexi-width(_view-width)
    .content
      figure
        +figure(_img-height)
          &.inline
            display inline-block
            width calc(50% - 2em)
            &:nth-child(even)
              margin-left _pad
            &:nth-child(odd)
              margin-right _pad
        &:last-child
          .img-item
            margin-bottom 0

