/**
 * Parent Containers for wrappers and top level layout control
 */
flexi-width(max = _body-width)
  display flex
  justify-content center
  .content
    max-width max
    width 100%


fieldset
  border-top 1px solid $ghostlight
  legend
    text-align center
    h4
      padding 0 _pad

section
  margin-top _gap

nav[role="desktop"] + section
  margin-top 0

.block-step--foot
  width 100%
  height _end 


 /**
  * Sections
  */

section
  .layout
    .content
      header
        margin-top _block
      header + .body
        margin-top _block

section[role="text"], section[role="text-wide"]
  .layout
    flexi-width(_body-width)
    +notebook()
      .content
        padding 0 _pad2
    

section[role="text-wide"]
  .layout
    flexi-width(_view-width)
    +desktop()
      .content
        padding 0 _pad2


section[role="images"]
  .layout
    flexi-width(_view-width)
    .content
      figure
        +figure(_img-height)
          &.inline
            display inline-block
            width calc(50% - 2em)
            &:nth-child(even)
              margin-left _pad
            &:nth-child(odd)
              margin-right _pad
        &:last-child
          .img-item
            margin-bottom 0

section[role="side-scroller"]
  .layout
    background-color $white
    flexi-width(100%)    
    .content      
      height calc(543px + 8em)
      position relative
      overflow-y hidden
      header 
        position absolute
        margin-top _pad
        z-index 10
        left 50%
        margin-left -50%
        width 100%
      .body
        margin-top 6em
        width 100%
        overflow-x scroll
        .related-images            
          display flex
          margin-left 0vw
          width calc(3900px)
          .related-item
            color white
            display flex
            align-items center
            justify-content center
            width 1300px
            height _img-height
            .caption
              position relative
              +after()
                transition width _speed
                background-color $white
                height 3px
                width 0%
                left 0
              span.visible
                left 0
                position absolute
                transition all _speed
                font-family _fontfamily--head
                textshadow()
                font-size _h1
                opacity 0
                transform translateY(1.5em)
                bottom auto
                margin-top .5em
              span.hidden
                visibility hidden
                font-family _fontfamily--head
                font-size _h1
            &:hover
              .caption
                &:after
                  width 100%
                span.visible
                  transform translateY(0)
                  opacity 1
        .nodes
          position absolute
          width 100%
          display flex
          justify-content center
          margin-top 1em
          .node-item
            transform-origin center
            transform translate(0%, 0%)
            transition all _speed--fast
            margin 0 .5em
            wh(1em, 1em)
            border-radius 50%
            border 1px solid $ghostlight
            &.active
              transform translate(50%, 50%)
              wh(.5em, .5em)
              border 4px solid
          figure
            color white
            display flex
            align-items center
            justify-content center
            +figure(_img-height)
              width 1300px
              margin 0
            figcaption
              font-family _fontfamily--head
              textshadow()
              font-size 2em
              bottom auto     