/**
 * Parent Containers for wrappers and top level layout control
 */
flexi-width(max = _body-width)
  display flex
  justify-content center
  .content
    max-width max
    width 100%


fieldset
  border-top 1px solid $ghostlight
  legend
    text-align center
    h4
      padding 0 _pad

section
  margin-top _gap

nav[role="desktop"] + section
  margin-top 0

.block-step--foot
  width 100%
  height _end 


 /**
  * Sections
  */

section
  .layout
    .content
      header, .body
        margin-top _block

section[role="text"]
  .layout
    flexi-width(_body-width)
    +mobile()
      .content
        padding _pad2
    +tablet()
      .content
        padding _pad2


section[role="images"]
  .layout
    flexi-width(_view-width)
    .content
      figure
        +figure(_img-height)
          &.inline
            display inline-block
            width calc(50% - 2em)
            &:nth-child(even)
              margin-left _pad
            &:nth-child(odd)
              margin-right _pad
        &:last-child
          .img-item
            margin-bottom 0

section[role="side-scroller"]
  .layout
    background-color $black
    flexi-width(100%)    
    .content      
      color white
      height _img-height      
      header        
        position absolute
        margin-top _pad
        z-index 10
        left 50%
        margin-left -50%
        width 100%
      .body
        margin-top 0
        width 100%
        overflow-x scroll
        .container
          margin-left 30vw
          width calc(3900px + 30vw)
          figure
            display inline-block
            +figure(_img-height)
              width 1300px
              margin 0
