/**
 * Main HTML Body resets and spacial definitions
 */

*:focus
  outline none

*
  -webkit-tap-highlight-color transparent

html
  font-family _fontfamily--base, helvetica, sans-serif
  font-size _fs--base
  +widescreen()
    font-size 24px
  +desktop()
    font-size 21px
  +tablet()
    font-size 18px
  +mobile-landscape()
    font-size 15px
  +mobile()
    font-size 15px

body
  background-color $background
  color $font
  overflow-x hidden
  overflow-y scroll

ul, li
  zero()
  list-style none
a 
  color $link
  text-decoration none
  &.is-link
    textlink()
  &.is-button
    buttonlink()    
  &.is-banner
    bannerlink()
    
figure
  zero()
  position relative
  img
    display none
  figcaption
    position absolute
    bottom 4em
    font-size _fs--xsmall
    