/**
 * Main HTML Body resets and spacial definitions
 */

*:focus
  outline none

html
  font-family _fontfamily--base, helvetica, sans-serif
  font-size _fs--base
  +widescreen()
    font-size 24px
  +desktop()
    font-size 19px
  +tablet()
    font-size 16px
  +mobile-landscape()
    font-size 14px

body
  background-color $background
  color $font
  overflow-x hidden
  overflow-y scroll

ul, li
  zero()
  list-style none
a 
  color $link
  text-decoration none
  +over($link)
    &:after
      width 100%

figure
  zero()
  position relative
  img
    display none
  figcaption
    position absolute
    bottom 4em
    font-size _fs--xsmall
    span
      +over($link)
        &:after
          width 100%