section
  .layout
    .project-banners
      .body
        margin-top 10vh !important
      header
        position relative
      .projects          
        width 100%
        display flex
        justify-content flex-start
        align-items center
        flex-wrap wrap
        .label > *
          margin 0            
        .label
          position relative
          z-index 1
        li
          cursor pointer
          position relative          
          +before()
            transition background-color _speed
            wh(100%, 100%)
            background-color $ghostlight
          .label
            color $white
            +after()
              transition width _speed
              width 0%
              height 4px
              left 0
              top -.5em
              background-color $white
            +mobile()
              h1
                font-size _fs--large
              h4
                font-size _fs--std          
          opacity 1
          transition height _speed--std, opacity _speed, margin-top _speed--std    
          margin-top _pad
          display flex
          justify-content center
          align-items center
          max-height _img-height
          width 100%
          height calc(100vw * .417)           
          color $white
          bg(cover)
          &:nth-child(-n+5)
            +mobile()
              min-height 50vh
          &:nth-child(n+6)              
            flex 0 0 50%
            max-height _calc(_img-height / 2)
            background-size cover
            padding-left .5em
            padding-right .5em
            border-left .5em solid
            border-right .5em solid
            margin-top 1em
            h1, h4
              font-size 1em
            &:nth-child(odd)
              // border-left 1em solid
            &:nth-child(even)
              // border-right 1em solid
          &.hide
            height 0
            opacity 0
            margin-top 0
            position absolute
            max-width 1168px
            overflow hidden
          &:hover, &.touchover
            user-select none  
            &:before
              background-color transparent
            .label
              &:after
                width 100%