footer
  .layout
    .content
      .footer-item 
        span.bold Address:
        span
          br
          | Unit 7, 5 Durham Yard, 
          br
          | London E2 6QF 
          a(href="https://www.google.co.uk/maps/preview/place/ScanLAB+Projects,+London/@51.5296336,-0.0613865,17z/data=!3m1!4b1!4m2!3m1!1s0x48761cc48b92c473:0xc0c68a63dfe56f29" target="_blank") (map)
      .footer-item
        span.bold Telephone:
          br 
          a(itemprop="telephone" href="tel:+44 (0)20 7739 2524") +44 (0)20 7739 2524
      .footer-item
        span.bold Email: 
          br
          a(href="mailto:studio@scanlabprojects.co.uk" target="_blank") studio@scanlabprojects.co.uk