nav(role="mobile")
  .menu--stage
    ul.menu-items
      li About
      li Work
      li Contact
  .menu--icon
    //- .icon-shadow
    button.hamburger(type="button" class="hamburger--squeeze")
      span.hamburger-box
        .hamburger-inner
