.social-content
  .column
    span.desktop Stay in the know - Signup to our discrete Mailing List and follow us on Social Media.
  .column
    .form
      label(for="nput")
        i.fa(class="fa-envelope")
      input#nput(placeholder="Join our mailing list")
      button Submit
  .column
    .icons
      i.fa(class="fa-twitter")
      i.fa(class="fa-vimeo-square")
      i.fa(class="fa-facebook-square")