footer
  margin-top _end
  .layout
    flexi-width(_view-width)
    .content
      border-top 1px solid $ghostlight
      padding _pad 0
      display flex
      justify-content space-around
      .footer-item
        span
          font-size _fs--xsmall