burger(unactive = red, active = yellowgreen)  
  .hamburger-inner
    transition all .2s
    background-color unactive
    border-radius 0
    &:before, &:after
      transition all .2s
      background-color unactive
      border-radius 0
  .hamburger
    &.is-active
      .hamburger-inner
        background-color active
        &:before, &:after
          background-color active
    &:hover
      opacity 1
      .hamburger-inner
        background-color $orange
        &:before, &:after
          background-color $orange
/**
 * Mobile Menu Active State
 */
body
  &.state--menu
    overflow-y hidden
    section
      filter blur(5px)
    nav[role="mobile"]
      .menu--stage
        opacity 1
        visibility visible
        transform scale3d(1,1,1)
        transform translate3d(0px,0px,0px)
        .menu-items
          transition-delay 0s
          opacity 1
          margin-left 0//15vw
          +mobile()
            padding-left 0

nav[role="desktop"]
  z-index 10
  position absolute
  width 100%
  .menu--head
    padding 15px
    display flex
    justify-content center
    align-items center
    #SLAB
      fill $white
      width calc(100% - 12em)
      max-width 350px
      stroke-width 1px
      stroke $white
    &.zero
      #SLAB
        fill $blue
        stroke $blue
  .menu--link
    margin 0 auto
    width calc(100% - 12em)
    max-width 350px
    display flex
    justify-content space-around
    align-items center
    .nav-link
      a
        color $white
      &.active
        a
          color $link
    &.zero
      .nav-link
        a
          color $blue
        &.active
          a
            color $link

  
nav[role="mobile"]
  position fixed
  z-index 100
  .menu--icon
    position fixed
    right 1em
    top 1em
    transform-origin top
    transform scale(0.9)
    burger($white, $white)
    &.dark
      burger($orange, $white)
    +mobile()
      transform scale(0.7)
      right 0em
  .menu--stage
    anim()
    wh(100vw,100vh)
    background $ghostnight
    position absolute
    opacity 0
    visibility hidden
    transform-origin center
    transform perspective(500px) translate3d(0px,0px,300px)
    transform scale3d(0,0,0)    
    display flex
    align-items center
    justify-content space-around
    padding 0 10vw
    +mobile()
      flex-direction column
    .menu-items
      margin-left -15vw
      padding-left 15vw
      transition-delay 1s
      transition all 1s
      opacity 0
      // height 100%
      display flex
      align-items flex-start
      justify-content center
      flex-direction column
      +mobile()
        flex .5 0 auto
      li
        color $white      
        font-size 2rem
        margin .5rem 0
        +over($white, 1.1em)
          &:after
            width 100%
    .menu-meta
      li
        font-size _fs--small
        +mobile()
          font-size 1em
        label
          font-weight bolder
        p
          color $white

.border-split
  width 1px
  height 50vh
  background $white
  +mobile()
    height 1px
    width 50%

.icon-shadow
  position fixed
  z-index -1
  top calc(1em - 5px)
  right calc(1em + 2.5px)
  border-radius 50%
  wh(65px,65px)
  background $ghostlight