/**
 * Config
 */

_body-width = 768px
_pad = 2em

_gap = 15vh
_end = 25vh
_block = 10vh

/**
 * dir
 */

_fontsource = '/assets/font/'


/**
 * fonts
 */
_fontfamily--base = 'ProximaNova-Light'
_fontfamily--head = 'ProximaNova-Semibold'

_fs--base = 18px

_fs--large = 1.2rem
_fs--std = 1rem
_fs--small = .85rem
_fs--xsmall = .7em

/**
 * anim
 */

_speed = .3s
_speed--fast = .3s
_speed--std = .4s
_speed--slow = 1s

/**
 * Z-index's
 */

_z_nav = 10
_z_alert = 100

/**
 * borders and finite styling
 */

_radius = 7px
